#footer{
    background: rgb(66,41,255);
    background: linear-gradient(90deg, rgba(66,41,255,1) 26%, rgba(67,46,254,0.8010853999803046) 53%);
    }
    
    #footer a{
        color: azure;
        text-decoration: none;
    }