<router-outlet>

</router-outlet>
<footer id="footer" class="pb-4 pt-4">
    <footer class=" text-center text-lg-start text-light">
      <div class="container p-4">
        <div class="row">
          <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase">Sobre mí</h5>
    
            <p class="text-dark">
              holaaaaaaaaaaaaaa
            </p>
          </div>
    
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Enlaces útiles</h5>
    
            <ul class="list-unstyled mb-0 ">
              <li>
                <a href="https://www.linkedin.com/in/enaranjob/" class="text-dark" ><i class="fa-brands fa-linkedin"></i> Linkedin</a>
              </li>
              <li>
                <a href="https://github.com/StuardN" class="text-dark"><i class="fa-brands fa-github"></i> Github</a>
              </li>
              <li>
                <a href="#" class="text-dark"><i class="fa-solid fa-envelope" ></i> Gmail</a>
              </li>
            </ul>
          </div>
    
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-0">Contacto</h5>
    
            <ul class="list-unstyled">
              <li>
                <a href="#!" class="text-dark">Teléfono: +593 981604878</a>
              </li>
              <li>
                <a href="#!" class="text-dark">Correo electrónico: erlynstuarsgmail.com</a>
              </li>
              <li>
                <a href="#!" class="text-dark">Dirección: Calle B entre la 45 y 46, Guayaquil, Guayas</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Todos los derechos reservados: <a class="text-primary" href="https://enaranjob.vercel.app/projects">Mi sitio web</a>
      </div>
    </footer>