<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" (submit)="searchMovies()">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="searchTerm" name="searchTitle">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>


<!--Tabla de Peliculas-->
<section id="speakers" class="mt-4 mb-4">
  <div class="container">
    <div class="row">
      <div class="col text-center text-uppercase">
        <small>Disfruta </small>
        <h2>Las mejores películas</h2>
        <br>  
      </div>
    </div>
<!--Presentación de películas-->
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4" *ngIf="filteredData.length > 0">
      <div class="col" *ngFor="let movie of filteredData">
        <div class="card h-100">
          <img [src]="movie.imageURL" class="card-img-top" [alt]="movie.title">
            <div class="card-body">
              <h5 class="card-title">{{ movie.title }}</h5>
                  <div class="badges">
                      <span class="badge bg-warning">{{ movie.rating }}</span>
                  </div>
                <p class="card-text">{{ movie.overview }}</p>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Tabla-->
