#speakers {
    display: flex;
    justify-content: center;
  }
  
  .card-img-top{
   /* Ancho deseado */
    height: 400px; /* Alto deseado */
    object-fit: cover; /* Ajusta la imagen dentro del contenedor sin distorsionarla */
}
